@use "global" as *;

.page-contact__inner.inner {
  max-width: rem(740);
}

.page-contact__title {
}
.page-contact__text {
  font-size: rem(20);
  text-align: center;
}
.page-contact__list {
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  border-left: 1px solid $black;
  margin-top: rem(60);
}
.page-contact__item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $black;
}
.page-contact__term {
  padding: rem(24) rem(10);
  width: 30%;
  background-color: $green2;
}

.page-contact__definition {
  width: 70%;
  padding: rem(24) rem(10);
  border-left: 1px solid $black;
}

.page-contact__buttons {
  display: flex;
  justify-content: center;
  font-size: rem(18);
  margin-top: rem(20);
}
.contact__back-button {

}
.contact__submit-input {

}

.wpcf7-form-control .contact__back-button {
  display: inline-block;
}