@use "global" as *;

.page-price__inner.inner {
  @include mq("md") {
    max-width: rem(740);
  }
}

.page-price__content {
  @include mq("md") {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.page-price__content + .page-price__content {
  margin-top: rem(36);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.page-price__content-items {
  border: 1px solid $green;
}

.page-price__content-item dl {
  display: flex;
  align-items: center;
}

.page-price__content-item:not(:first-child) {
  border-top: 1px solid $green;
}

.page-price__content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  padding: rem(8);

  @include mq("md") {
    flex-direction: column-reverse;
    padding: rem(15);
    width: 28.601%;
  }
}

.page-price__content-icon {
  width: rem(24);

  @include mq("md") {
    width: rem(64);
    margin-top: rem(12);
  }
}

.page-price__content-icon img {
  aspect-ratio: 64 / 64;
  width: 100%;
  object-fit: cover;
}

.page-price__content-title {
  position: relative;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  margin-left: rem(8);
  text-align: center;

  @include mq("md") {
    margin-left: 0;
    padding-top: rem(7);
  }
}

.page-price__content-items {
  @include mq("md") {
    width: 71.5%;
  }
}

.page-price__content-text {
  color: $black;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.6;
  text-align: center;
  width: 69.3%;
  padding: rem(22) rem(4.4) rem(22) 0;
  border-right: 1px solid $green;

  @include mq("md") {
    padding-left: rem(16);
    line-height: 1.3;
    text-align: left;
    width: 67.7%;
    padding: rem(21) rem(5) rem(21) 0;
  }
}

.page-price__content-cost {
  color: $black;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1;
  // border-left: 1px solid $green;
  padding: rem(16);
  text-align: right;
  width: 30.7%;

  @include mq("md") {
    width: 32.3%;
    padding: rem(16);
  }
}
