@use "global" as *;

.page-mv {
  position: relative;
  width: 100%;
  height: rem(460);

  @include mq("md") {
    height: rem(548);
  }
}

.page-mv__inner {
  height: inherit;
}

.page-mv__img {
  height: inherit;
}

.page-mv__img picture,
.page-mv__img img {
  height: inherit;
  object-fit: cover;
}

.page-mv__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @include mq("md") {
    top: 59%;
  }
}

.page-mv__title {
  color: $white;
  font-family: $third-font;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 1;
  text-align: center;

  @include mq("md") {
    font-size: rem(80);
  }
}

.page-mv__title::first-letter,
.page-mv__title.page-mv__title--uppercase,
.page-mv__title .page-mv__title-uppercase {
  text-transform: uppercase;
}

.page-mv__title .page-mv__title-capitalize {
  text-transform: capitalize;
}
