@use "global" as *;

.single-blog-content__meta {
  display: flex;
  align-items: center;
  padding-top: rem(3);

  @include mq("md") {
    padding-top: 0;
    margin-top: rem(3);
  }
}

.single-blog-content__date {
  color: $black;
  font-family: $english-font;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1;
}

.single-blog-content__title {
  color: $black;
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.3;
  padding-bottom: rem(7);
  border-bottom: 2px solid $green;
  margin-top: rem(17);

  @include mq(md) {
    font-size: rem(32);
  }
}

.single-blog-content__mv {
  margin-top: rem(40);
  width: 100%;
}

.single-blog-content__mv img {
  width: 100%;
  aspect-ratio: 335/188;
  object-fit: cover;
}

.single-blog-content__content {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(39);
  }
}

.single-blog-content__content img {
  width: 100%;
  aspect-ratio: 700/468;
  object-fit: cover;
}

.single-blog-content__content p {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-blog-content__content figure:not(:first-child) {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-blog-content__content ul {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-blog-content__content li {
  position: relative;
  padding-left: rem(27);
}

.single-blog-content__content li::before {
  position: absolute;
  content: "";
  top: rem(13);
  left: 0;
  width: rem(18);
  height: rem(18);
  transform: translateY(-50%);
  background-image: url(../images/page/starfish-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.single-blog-content__content li:not(:first-child) {
  margin-top: rem(4);
}

.single-blog-content__pagenavi {
  margin-top: rem(40);
  display: flex;
  justify-content: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}

.single-blog-content__pagenavi .single-blog-content__prev-next {
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
  text-align: center;
}

.single-blog-content__prev-next a {
  width: rem(38);
  height: rem(38);
  color: $green;
  margin: 0 rem(6);
  padding: rem(7) 0;
  font-family: $third-font;
  font-size: rem(16);
  font-weight: $bold;
  white-space: nowrap;
  border: 1px solid $green;
  transition: 0.3s;
}

.single-blog-content__prev-next .next,
.single-blog-content__prev-next .prev {
  margin: 0;
}

.single-blog-content__prev-next .next + .prev {
  margin-left: rem(82);
}

.single-blog-content__prev-next .next,
.single-blog-content__prev-next .prev {
  position: relative;
}

.single-blog-content__prev-next .next::before {
  position: absolute;
  content: "<";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-blog-content__prev-next .prev::after {
  position: absolute;
  content: ">";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-blog-content__prev-next a:hover {
  color: $white;
  background-color: $green;
  border-color: $green;
  opacity: 1;
}
