@use "global" as *;

.contact__content {
  position: relative;
}

.contact__content::before {
  position: absolute;
  content: "";
  right: calc(50% - min(43vw, rem(272)));
  top: rem(-40);
  width: rem(109);
  height: rem(50);
  background-image: url(../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include mq("md") {
    right: calc(50% - min(48vw, rem(670)));
    width: rem(301);
    height: rem(138);
  }
}

.contact__content.contact__content--page::before {
  right: calc(50% - min(46vw, rem(288)));
  top: rem(-26);

  @include mq("md") {
    right: calc(50% - min(48vw, rem(670)));
    top: rem(-40);
  }
}
