@use "global" as *;

.footer {
  background-color: $green;
  padding: rem(48) 0 rem(59);

  @include mq("md") {
    padding: rem(80) 0 rem(82);
  }
}

.footer.footer--404 {
  background-color: $green;
  padding: rem(53) 0 rem(59);

  @include mq("md") {
    padding: rem(83) 0 rem(82);
  }
}

.footer__heading {
  @include mq("md") {
    display: flex;
  }
}

.footer__logo a {
  transition: opacity 0.3s;
}

.footer__logo a:hover {
  opacity: 0.7;
}

.footer__logo img {
  width: rem(120);

  @include mq("md") {
    width: rem(200);
  }
}

.footer__icon {
  display: flex;
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(38);
    margin-left: rem(40);
  }
}

.footer__instagram-img {
  margin-left: rem(16);
  transition: opacity 0.3s;
}

.footer__facebook-img {
  transition: opacity 0.3s;
}

.footer__instagram-img:hover,
.footer__facebook-img:hover {
  opacity: 0.7;
}

.footer__facebook-img img {
  width: rem(24);
  height: rem(24);

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.footer__instagram-img img {
  width: rem(24);
  height: rem(24);

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.footer-nav {
  display: flex;
  margin-top: rem(28);

  @include mq("md") {
    margin-top: rem(12);
  }
}

.footer-nav__left,
.footer-nav__right {
  width: 50%;

  @include mq("md") {
    display: flex;
  }
}

.footer-nav__right {
  margin-left: rem(12);

  @include mq("md") {
    margin-left: rem(32);
  }
}

.footer-nav__left-container:nth-child(2),
.footer-nav__right-container:nth-child(2) {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(114);
  }
}

.footer-nav__left-items + .footer-nav__left-items,
.footer-nav__right-items + .footer-nav__right-items {
  margin-top: rem(16);
}

.footer-nav__left-item:first-child a,
.footer-nav__right-item:first-child a {
  position: relative;
  font-weight: $bold;
}

.footer-nav__left-item:first-child a::before,
.footer-nav__right-item:first-child a::before {
  position: absolute;
  content: "";
  top: rem(12);
  left: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-nav__left-item a,
.footer-nav__right-item a {
  display: block;
  color: $white;
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(18 / 16);
  transition: 0.3s opacity;
  padding: rem(12) rem(6) rem(12) rem(22);
  white-space: nowrap;
}

.footer-nav__left-item a:hover,
.footer-nav__right-item a:hover {
  opacity: 0.7;
}

.copyright {
  display: block;
  color: $white;
  font-family: $english-font;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  margin-top: rem(31);

  @include mq("md") {
    font-size: rem(14);
    margin-top: rem(70);
  }
}
