@use "global" as *;

.information {
  background-color: $green2;
  padding: rem(84) 0;

  @include mq("md") {
    padding: rem(100) 0;
  }
}

.information__content {
  margin-top: rem(31);

  @include mq("md") {
    margin-top: rem(43);
  }
}