@use "global" as *;

.form__wrap {
  padding-bottom: rem(24);
  border-bottom: 2px dashed $green;

  @include mq(md) {
    display: flex;
    padding-bottom: rem(40);
  }
}

.form__wrap:not(:first-child) {
  padding-top: rem(24);

  @include mq(md) {
    padding-top: rem(40);
  }
}

.form__wrap.form__wrap--select {
  @include mq("md") {
    align-items: center;
    padding-top: rem(35);
    padding-bottom: rem(35);
  }
}

.form__wrap .form__checkbox {
  display: flex;
  flex-direction: column;
}

.form__wrap.form__wrap--textarea {
  @include mq(md) {
    align-items: flex-start;
  }
}

.form__label {
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;

  @include mq(md) {
    max-width: rem(220);
    width: 100%;
  }
}

.form__wrap.form__wrap--textarea .form__label {
  @include mq(md) {
    margin-top: rem(4);
  }
}

.form__label span {
  margin-left: rem(8);
  padding: rem(5) rem(12);
  display: inline-block;
  font-size: rem(12);
  font-weight: $normal;
  letter-spacing: 0.48em;
  text-indent: 0.2em;
  color: $white;
  background-color: $red;
}

.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
  margin-top: rem(17);

  @include mq(md) {
    margin-top: 0;
  }
}

.form__select {
  margin-top: rem(23);

  @include mq("md") {
    margin-top: 0;
  }
}

.form__input,
.form__select,
.form__textarea {
  flex-grow: 1;
}

.form__input input::placeholder {
  color: $green2;
}

.form__privacy {
  margin-top: rem(34);
  text-align: center;

  @include mq("md") {
    margin-top: rem(73);
  }
}

.form__privacy input + span {
  cursor: pointer;
  display: inline-block;
  font-size: rem(14);
  padding: 0 0 0 rem(31);

  @include mq("md") {
    padding: 0 0 0 rem(36);
  }
}

.form__privacy input + span::before {
  width: rem(22);
  height: rem(22);
}

.form__submit {
  margin-top: rem(24);
  text-align: center;

  @include mq("md") {
    margin-top: rem(40);
  }
}
