@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  display: flex;
  height: inherit;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $white;
  font-family: $english-font;
  font-size: rem(18);
  font-weight: $normal;
  line-height: 1;
  padding: 0 min(1.3889vw, rem(20));
  height: inherit;
  text-align: center;
}

.pc-nav__item a:after {
  position: absolute;
  content: '';
  bottom: rem(22);
  left: calc(100% - (100% - 1.38889vw));
  width: calc(100% - (1.38889vw * 2));
  height: rem(1);
  background-color: $white;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.pc-nav__item a:hover::after {
  transform: scale(1, 1);
}

.pc-nav__item span {
  font-size: rem(10);
  margin-top: rem(6);
  white-space: nowrap;
}